# Ignore system folders and hidden files
*.log
*.DS_Store
*.swp
*.swo
*.tmp
*.bak
*.old

# Windows system folders
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
.vscode/
Thumbs.db

# IDE and Python junk
__pycache__/
*.pyc
.env
*.ipynb_checkpoints
.idea/
.venv/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Docker
.docker/

# Kubernetes
.kube/
.minikube/

# GitHub actions secrets & config
kubeconfig
